@font-face { 
	font-family: 'Clarendon'; 
	src: url('fonts/clarebtbol-webfont.eot'); 
	src: url('fonts/clarebtbol-webfont.eot?#iefix') format('embedded-opentype'), 
		url('fonts/clarebtbol-webfont.woff') format('woff'), 
		url('fonts/clarebtbol-webfont.ttf') format('truetype'), 
		url('fonts/clarebtbol-webfont.svg#ClarendonRegular') format('svg'); 
	font-weight: bold; 
	font-style: normal; 
} 
@font-face { 
	font-family: 'Clarendon'; 
	src: url('fonts/clarebtlig-webfont.eot'); 
	src: url('fonts/clarebtlig-webfont.eot?#iefix') format('embedded-opentype'), 
		url('fonts/clarebtlig-webfont.woff') format('woff'), 
		url('fonts/clarebtlig-webfont.ttf') format('truetype'), 
		url('fonts/clarebtlig-webfont.svg#') format('svg'); 
	font-weight: normal; 
	font-style: normal;
}
html .mceContentBody {  
	padding: 10px;  
}
body#tinymce {
	color: #000; 
	background: #FFF; 
	font-family: Georgia, Times, serif; 
	text-shadow: 0 0 0 rgba(0,0,0,0) !important;
	line-height: 1;
	font-size: 16px; line-height: 1.625em;
	font-weight: 400;
} 
h1 { font-size: 68px; font-size: 4.25rem; }

h2 { font-size: 42px; font-size: 2.625rem; }

h3 { font-size: 30px; font-size: 1.875rem; }

h4 { font-size: 26px; font-size: 1.625rem; }

h5 { font-size: 18px; font-size: 1.125rem; }

h6 { font-size: 16px; font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
	font-family: "Clarendon", Georgia,​ Times, ​serif;
	font-weight: 700;
	padding-top: 0;
	margin-top: 0;
	line-height: 1;
	color: #136972;
	margin-bottom: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #136972;
	text-decoration: none;
}
a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #0B3539;
}
p {
	font-family: "Clarendon", Georgia, Times, serif; 
	line-height: 1.4em;
}
a {
		color: #136972;
		line-height: inherit;
		outline: 0 none;
		text-decoration: underline;
}