@charset "utf-8";

/* Basic Reset */

body { background: #BBB; }
img {border: none;}

/* Fonts */
@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
		 
    font-weight: normal;
    font-style: normal;
	}

/* Container Setup */

#planit_container { 
	background: #EBF3F4;
	overflow: hidden; 
	width: 100%; 
	margin: 0 auto 1.5em auto;
    position: relative;
}	

#planit_left{ 
	float: left; 
	width: 25%
}

#planit_right{ 
	float: left;
	width: 75%;
}

/* Left Column - Sidebar Setup */

.planit_left_col { 
	width: 100%;
	overflow: hidden; 
}	

#planit_container .planit_left_col .title { 
	padding: 5px 5px 5px 25px; 
	width: 100%; 
	font-size: 18px; 
	color: #FFF; 
	background: #136972; 
}
		
#planit_container .planit_left_col ul { 
	list-style: none; 
	padding: 0; 
	margin: 0;
} 

#planit_container .planit_left_col ul li { 
	padding: 7px 10px; 
	margin: 0; 
	width: 100%;
	border-top: 1px solid #c6e1e3; 
	cursor: pointer; 
	text-transform: capitalize;
	font-size: 16px;
} 	

#planit_container .planit_left_col ul li span { 
	float: right; 
	padding: 2px 4px;
	margin: -2px 10px 0px 0px; 
	background: #136972; 
	color: #FFF; 
} 

#planit_container .planit_left_col ul li: hover { 
	background: #136972;
}

#planit_container .planit_left_col ul li.selected		 { 
	background: #136972 url(../img/indicator.png) no-repeat right center; 
	color: #FFF;
}
#planit_container .planit_left_col ul li.selected	span { 
	background: #FFFFFF; 
	color: #136972; 
}

#planit_container .planit_left_col ul li.selected	a {
    color: #FFF;
}

/* Left Column - Options Setup */

#planit_container .options ul li {
    padding: 7px 10px;
}

#planit_container .options ul li.selected a {
    color: #fff;
    background: #136972;
}

#planit_container .planit_left_col ul a {
    color: #000;
    padding: 0;
    text-decoration: none;
}

#planit_container .planit_left_col.options {
    position: absolute;
    bottom: 0;
}

#planit_container .options  .title {
    background: #136972 url(../img/options-bg.png) no-repeat 5px center;
}

#planit_container .gallery  .title {
    background: #136972 url(../img/options-bg.png) no-repeat 5px center;
}


/* Right Column */

		
#planit_container #planit_floorplan_display {
    background: #FFF;
    overflow: hidden;
    width: 390px;
    height: 340px;
    position: relative;
}

#planit_container #main_content_panel {
    height: 345px;
}

#planit_container img#image_floorplan, img#image_screens, img#image_dimensions, img#image_power, img#image_fire, img#image_compass {
    margin: 20px auto;
    height: 260px;
    position: absolute;
}
	
#planit_container #floorplan_title {
    margin: 5px 20px;
    font-size: 26px;
    border-bottom: 1px solid #DDD;
}

#planit_container #planit_right_footer {
    margin: 0;
    width: 390px;
    background: #EBF3F4;
    height: 50px;
}

#planit_container button {
    background: #CA7136;
    padding: 7px 7px 7px 7px;
    margin: 10px;
    border: none;
    color: #FFF;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#planit_container button span {
    margin: 0px 8px 0px 0px;
    font-family: 'WebSymbolsRegular';
}

#planit_container #plan_button {
    display: none;
}
#planit_container #tour_button {

}

#planit_container #compass {
    background: url(../img/compass_n.png);
    width: 30px;
    height: 30px;
    float: right;
    margin: 10px;
}

#planit_container img#logo {
    margin: 8px;
    float: right;
	width: 100px
}

#planit_container .round {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#planit_container #panaround_virtual_tour {
    display: none;
    width: 100%;
    height: 540px;
    float: left;
    position: absolute;
}
embed {
	width: 100%;
	height: 540px;
}

#planit_container #image_floorplan {
    display: block;
}

#planit_container img#image_screens, img#image_dimensions, img#image_power, img#image_fire, img#compass{
    position: absolute;
    z-index: 20;
	
}

#planit_container #planit_left_gallery {
    float: left;
    display: none;
    margin-left: -200px;
}

#planit_container .planit_left_col_gallery {
    width: 175px;
    background: #EDEDED;
    margin: 5px;
    overflow: hidden;
    height: 450px;
}

#planit_container .planit_left_col_gallery .title {
    padding: 5px 5px 5px 25px;
    width: 135px;
    margin: 5px;
    font-size: 13px;
    color: #FFF;
}

#planit_container #secondary_title {
    font-size: 10px;
    margin: 10px 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

#planit_container ul#capacities {
    position: relative;
}

#planit_container ul#capacities span {
    position: absolute;
    right: 0;
}

#planit_container .planit_left_col ul li span {
    -moz-box-shadow: inset 0px 1px 0px 0px #999;
    -webkit-box-shadow: inset 0px 1px 0px 0px #999;
    box-shadow: inset 0px 1px 0px 0px #999;
    background-color: #136972;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

#planit_container .planit_left_col ul li.selected	span {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #FFFFFF) );
    background: -moz-linear-gradient( center top, #FFFFFF 5%, #FFFFFF 100% );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF');
    background-color: #FFFFFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

#planit_container #lightwindow {
    position: relative;
    margin: -30px 15px 0px 0px;
    z-index: 1000px;
}
#planit #lightbox{
	display: none; position: relative;
}
#lightbox .print{
	position: absolute;
	bottom: -10px;
    text-decoration: none;
    font-family: 'arial';
    background: #7F4F1B;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px;
    border: none;
    color: #FFF;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
}


 #lightbox img{
	max-width: 800px; max-height: 600px; position: absolute; width: 750px;
}


#planit_container .button {
    float: left;
    text-decoration: none;
    font-family: 'arial';
    background: #7F4F1B;
    padding: 7px 7px 7px 7px;
    margin: 10px;
    border: none;
    color: #FFF;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
}

#planit_container .button span {
    margin: 0px 8px 0px 0px;
    font-family: 'WebSymbolsRegular';
}

#logo_container {
    position: relative;
    float: right;
}
	
#planit_container .planit_left_col ul li.inactive  {cursor: default}
#planit_container .planit_left_col ul li.inactive a{cursor: default}
