/* set selected colour */
/*#planit_container .planit_left_col ul li.selected, #planit_container .button, #planit_container #tour_button, #lightbox .print {
	background-color: #776A57;
}
#planit_container #floorplan_title {
	color: #776A57;
}
.jcarousel-skin .jcarousel-next-vertical, .jcarousel-skin .jcarousel-prev-vertical {
	background-color: #776A57;
}*/
/* set widths */
/*#planit_container {
	width: 716px;
}
#planit_container #planit_right_footer {
	width: 518px;
}
#planit_container #planit_floorplan_display {
	width: 520px;
}
#planit_container #floorplan_title {
	width: 518px;
}*/
/* set heights */
/*#planit_container #main_content_panel {
	height: 385px;
}
#planit_container #planit_floorplan_display {
	height: 385px;
}
#planit_container ul#capacities {
	height: 300px;
}
#planit_left {
	height: 450px;
	position: relative;
}
#planit_container img#image_floorplan, img#image_screens, img#image_dimensions, img#image_power, img#image_fire, img#image_compass {
	display: none;
	margin: 25px auto;
}*/
